    <tr>
      <td><%= photo.years_string %></td>
      <td><%= photo.grad_years.collect(&:graduates).flatten.count %></td>
      <td><%= link_to "Edit", edit_photo_path(photo) %> | <%= link_to 'Destroy', photo_path(photo), data: { confirm: "Are you sure you want to delete #{photo.years_string}?" }, method: :delete %></td>
    </tr>
