    <tr>
      <td><%= photo.grad_year.year %></td>
      <td><%= link_to "Edit", edit_photo_path(photo) %> | <%= link_to 'Destroy', photo_path(photo), data: { confirm: "Are you sure you want to delete #{photo.year}?" }, method: :delete %></td>
    </tr>
