<h1>Editing <%= @photo.grad_year.year %></h1>

<div id="photo_tagging">
	<%= image_tag @photo.image.url, id: "photoTag" %>
	
</div>

<script>
	$( document ).ready(function() {
		$('#photoTag').Jcrop({ onSelect: noteCoords },function() {
			jcrop_api = this;
			console.log(this);
			init_page();
		});
	});

	function init_page() {
		$.ajax({ url: '<%= grad_year_graduates_path(@photo.grad_year, format: :json) %>',
			success: function(data) {
				data.forEach(function(grad) {
					add_overlay(grad);
				});
			}
		});

		var bubble = $('<div>');
		bubble.attr('id', 'bubble');
		bubble.html('<%= j render 'add_grad_form' %>');
		bubble.attr('style', 'position: absolute; left: 0px; top: 0px; z-index: 700;');
		$('.jcrop-holder').append(bubble);
		

		// Register form submit action
		$('#new_graduate').submit(function(event) {
			var form = event.target;
			console.log(form)
			$('#coords_x').attr('value', crop_coords.x);
			$('#coords_x2').attr('value', crop_coords.x2);
			$('#coords_y').attr('value', crop_coords.y);
			$('#coords_y2').attr('value', crop_coords.y2);
			var form_fields = $('#new_graduate').serialize();
			console.log(form_fields);
			$.ajax({
				url: form.action,
				method: form.method,
				data:  form_fields,
				success: function(data) {
					add_overlay(data)
					$('#new_graduate')[0].reset();
					window.jcrop_api.setSelect(10, 10, 50, 50);
					window.jcrop_api.release();
					bubble.hide();
				}
			});
			return false;

		});
		bubble.hide();
		
	}

</script>
