<h1>All Photos: (<%= link_to "Add a new photo", new_photo_path %>)</h1>

<table>
  <thead>
    <tr>
      <td>Year</td>
      <td>Graduates Tagged</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <%= render @photos %>
  </tbody>
</table>
